PORT=4000
FRONTEND_URL=http://localhost:3000
DATABASE_URL=postgresql://abc_pay:abc_pay@localhost:5432/abc_pay?schema=public
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=1h
NODE_ENV=development

VALR_API_KEY=675c6a765410aa1746a7461eb0af1a0ad1d2426ffbd1c1dc03a99b971fc904d5
VALR_API_SECRET=79760150bb43085058d1228edb243bace2e076f7e6092343303260732a118ac3
VALR_BASE_URL=https://api.valr.com
VALR_SUBACCOUNT_ID=optional_subaccount_id
VALR_WEBHOOK_SECRET=your_valr_webhook_signing_secret
DEFAULT_CRYPTO_NETWORK=SOL
VALR_SOLANA_DEPOSIT_ADDRESS=9RrszC4d3qh4nL4jA2cEZrj9KmMxUaDghhSvucEg7XpU